//  지역 필터 모달창
#filterModalRegion.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterModalRegionLabel" aria-hidden="true", width='700px;')
  .modal-dialog
    .modal-content
      .modal-header
        span.title 지역
      .modal-body.px-3
        .button-group
          - var selectedRegion = query.region
          each r in region
            button.btn.btn-primary.btn-round.btn-sm.mr-1.px-3(data-toggle=(selectedRegion?selectedRegion.toString().indexOf(r._id) > -1?"true":"false":"true"), data-id=r._id) #{r.name}
      .modal-footer
        button.btn.btn-success.py-3.m-0.w-100 적용
//  구장 필터 모달창
if(user_info)
  #filterModalGround.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterModalGroundLabel" aria-hidden="true", width='700px;')
    .modal-dialog
      .modal-content
        .modal-header
          span.title 구장
        .modal-body.px-3
          - var my_ground = favorite_ground || [];
          each r, idx in region_group
            .ground-wrap(data-id=r._id)
              .d-flex.justify-content-between
                h5 #{r.name}
                button.btn.btn-success.btn-sm(type='button', data-role='all', data-id=r._id, data-toggle='true') 전체선택
              .d-flex.justify-content-start
                each ground in r.list
                  button.btn.btn-primary.btn-round.btn-sm.mr-1.px-3(type='button', data-id=ground._id, data-toggle=my_ground.toString().indexOf(ground._id.toString()) > -1 ? "true":"false") #{ground.groundName}
            if(idx + 1 < region_group.length)
              hr
          .row
            .col-12
              .form-check.pull-left
                label.form-check-label
                  input.form-check-input(type="checkbox" name="chkUpdateMyGround")
                  span.form-check-sign 
                  | 즐겨찾는 구장으로 등록합니다.
        .modal-footer
          button.btn.btn-success.py-3.m-0.w-100(type='button', data-role='apply') 적용