//  필터 모달창
#filterModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header.border-0
        .row
          .col
            p.title.text-dark.text-left 카테고리
          .col
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              i.nc-icon.nc-simple-remove
      .modal-body
        h6.text-secondary 성별
        .btn-wrap
          button.btn.btn-round.btn-light(name='gender', value="1", class=body?body.gender.indexOf("1") > -1?"active":"":"") 남성
          button.btn.btn-round.btn-light(name='gender', value="2", class=body?body.gender.indexOf("2") > -1?"active":"":'') 여성
          button.btn.btn-round.btn-light(name='gender', value="3", class=body?body.gender.indexOf("3") > -1?"active":"":"") 혼성

        h6.text-seconday 레벨
        .btn-wrap
          button.btn.btn-round.btn-light(name='skill', value='3', class=body?body.skill.indexOf("3") > -1?"active":"":"") 초급
          button.btn.btn-round.btn-light(name='skill', value='2', class=body?body.skill.indexOf("2") > -1?"active":"":"") 중급
          button.btn.btn-round.btn-light(name='skill', value='1', class=body?body.skill.indexOf("1") > -1?"active":"":"") 고급
      .modal-header.border-0
        p.title.text-dark.text-left 경기장 또는 지역
      .modal-body#collapseWrap
        if(user_info)
          button.btn.btn-warning.w-100(data-toggle='collapse', data-target='#myGround', aria-expanded='false', aria-control='myGround') 내 경기장만 보기
          #myGround.collapse.text-right(aria-labelledby='myGround', data-parent='#collapseWrap')
            button.btn.btn-neutral.text-seconday(data-toggle='modal', data-target='#filterGroundModal') 경기장 리스트 보기
        button.btn.btn-warning.w-100(data-toggle='collapse', data-target='#myRegion', aria-expanded='false', aria-control='myRegion') 지역별로 보기
        #myRegion.collapse(aria-labelledby='myRegion', data-parent='#collapseWrap')
          .btn-wrap.text-left
            - var selectdRegion;
            if(body)
              - selectdRegion = body.region?body.region.split(','):""
            each r in region
              if(body)
                button.btn.btn-round.btn-light(name="region", class=body.region?body.region.toString().indexOf(r._id) > -1?"active":"":"", value=r._id) #{r.name}
              else
                button.btn.btn-round.btn-light(name="region") #{r.name}

      .modal-footer
        button.btn.btn-success(type='button', onclick="fnSetFilter()") 적용하기
//  경기장 필터(로그인시에만 적용됨)
if(user_info)
  #filterGroundModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterGroundModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header.border-0
          .row
            .col
              p.title.text-dark.text-left 경기장
            .col
              button.close(type='button', data-dismiss='modal', aria-hidden='true')
                i.nc-icon.nc-simple-remove
        .modal-body
          - var my_ground = favorite_ground || [];
          each r, idx in region_group
            .ground-wrap(data-id=r._id)
              .d-flex.justify-content-between
                h5 #{r.name}
                button.btn.btn-success.btn-sm(type='button', data-role='all', data-id=r._id, data-toggle='true') 전체선택
              .d-flex.justify-content-start
                each ground in r.list
                  button.btn.btn-round.btn-sm.mr-1.px-3(type='button', data-id=ground._id, data-toggle=my_ground.toString().indexOf(ground._id.toString()) > -1 ? "true":"false") #{ground.groundName}
            //- if(idx + 1 < region_group.length)
            //-   hr
            //-   .row
            //-     .col-12
            //-       .form-check.pull-left
            //-         label.form-check-label
            //-           input.form-check-input(type="checkbox" name="chkUpdateMyGround")
            //-           span.form-check-sign 
            //-           | 즐겨찾는 구장으로 등록합니다.
        .modal-footer
          button.btn.btn-success.py-3.m-0.w-100(type='button', data-role='apply') 저장


//- //  지역 필터 모달창
//- #filterModalRegion.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterModalRegionLabel" aria-hidden="true", width='700px;')
//-   .modal-dialog
//-     .modal-content
//-       .modal-header
//-         span.title 지역
//-       .modal-body.px-3
//-         .button-group
//-           - var selectedRegion = query.region
//-           each r in region
//-             button.btn.btn-primary.btn-round.btn-sm.mr-1.px-3(data-toggle=(selectedRegion?selectedRegion.toString().indexOf(r._id) > -1?"true":"false":"true"), data-id=r._id) #{r.name}
//-       .modal-footer
//-         button.btn.btn-success.py-3.m-0.w-100 적용
//- //  구장 필터 모달창
//- if(user_info)
//-   #filterModalGround.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterModalGroundLabel" aria-hidden="true", width='700px;')
//-     .modal-dialog
//-       .modal-content
//-         .modal-header
//-           span.title 구장
//-         .modal-body.px-3
//-           - var my_ground = favorite_ground || [];
//-           each r, idx in region_group
//-             .ground-wrap(data-id=r._id)
//-               .d-flex.justify-content-between
//-                 h5 #{r.name}
//-                 button.btn.btn-success.btn-sm(type='button', data-role='all', data-id=r._id, data-toggle='true') 전체선택
//-               .d-flex.justify-content-start
//-                 each ground in r.list
//-                   button.btn.btn-primary.btn-round.btn-sm.mr-1.px-3(type='button', data-id=ground._id, data-toggle=my_ground.toString().indexOf(ground._id.toString()) > -1 ? "true":"false") #{ground.groundName}
//-             if(idx + 1 < region_group.length)
//-               hr
//-           .row
//-             .col-12
//-               .form-check.pull-left
//-                 label.form-check-label
//-                   input.form-check-input(type="checkbox" name="chkUpdateMyGround")
//-                   span.form-check-sign 
//-                   | 즐겨찾는 구장으로 등록합니다.
//-         .modal-footer
//-           button.btn.btn-success.py-3.m-0.w-100(type='button', data-role='apply') 적용