.tab-pane.active#result(role='tabpanel', aria-labelledby='result-tab')
  .container
    ul.nav.border-bottom.round-wrap#round-wrap
      each round in round_info
        li.nav-item.text-center
          button.btn(class=round._id===1?'active':'', role='slick-tab', data-id=round._id) #{round._id}R
        //- - var n = 0;
        //- while n < 21
        //-   li.nav-item.text-center
        //-     button.btn(class=n===0?'active':'') #{++n}R
    //- 라운드 정보
    
    #league-list-wrap
      each round, idx in round_info
        .round-wrap
          h6.text-center.mt-3(style='font-weight:bold') 
            | #{(round.list[0].match_day.getMonth() < 10 ? '0':'') + (round.list[0].match_day.getMonth() + 1)}.&nbsp;
            | #{round.list[0].match_day.getDate()}.&nbsp;
            | #{days[round.list[0].match_date]}
          each match in round.list
            .league-match-wrap
              .team-wrap
                .emblem(style='background-image:' + (match.home_image?match.home_image:'url(/images/logo_black.png)'))
                label #{match.home_team.club_name}
              .info-wrap
                .match_result
                  if(match.state===1)
                    span(class=match.result[0]>match.result[1]?'win':'lose') #{match.result[0]}
                    span &nbsp;:&nbsp;
                    span(class=match.result[0]<match.result[1]?'win':'lose') #{match.result[1]}
                  else
                    span.match_time #{match.match_time}
                p #{match.ground_name}
                .status-wrap
                  span HOME
                  span #{round.state===1?'경기 종료':'경기 전'}
                  span AWAY
              .team-wrap
                .emblem(style='background-image:' + (match.home_image?round.home_image:'url(/images/logo_black.png)'))
                label #{match.away_team.club_name}
    //- .row
    //-   .col.text-center
    //-     button.btn(type='button', name='btnRanking') 순위표 바로 가기
  //  필터링 할 때 loading 이미지 띄우기