h5.info-text  경기장 시설 정보
	.row.justify-content-center
		.col-lg-10
			.row
				.col-sm-3
					.choice(data-toggle="wizard-checkbox", class=ground?ground.facility.shower?'active':'':'')
						input(type="checkbox" name="facility" value="shower", checked=ground?ground.facility.shower?'checked':'':'')
						.icon
							i.nc-icon.nc-ruler-pencil
						h6 샤워장
				.col-sm-3
					.choice(data-toggle="wizard-checkbox", class=ground?ground.facility.shoesRental?'active':'':'')
						input(type="checkbox" name="facility" value="shoesRental", checked=ground?ground.facility.shoesRental?'checked':'':'')
						.icon
							i.nc-icon.nc-laptop
						h6 풋살화 대여
				.col-sm-3
					.choice(data-toggle="wizard-checkbox", class=ground?ground.facility.uniformRental?'active':'':'')
						input(type="checkbox" name="facility" value="uniformRental", checked=ground?ground.facility.uniformRental?'checked':'':'')
						.icon
							i.nc-icon.nc-atom
						h6 운동복 대여
				.col-sm-3
					.choice(data-toggle="wizard-checkbox", class=ground?ground.facility.freeParking?'active':'':'')
						input(type="checkbox" name="facility" value="freeParking", checked=ground?ground.facility.freeParking?'checked':'':'')
						.icon
							i.nc-icon.nc-atom
						h6 무료 주차장
			hr
			.row
				.col-md-2
					label 경기장 가로 길이
					.input-group
						.input-group-prepend
							span.input-group-text
						input.form-control(type="number", name="groundSizeX", data-ground, value=ground?ground.facility.size.x:'')
				.col-md-2
					label 경기장 세로 길이
					.input-group
						.input-group-prepend
							span.input-group-text
						input.form-control(type="number", name="groundSizeY", data-ground, value=ground?ground.facility.size.y:'')
			hr
			.row
				.col-md-12
					label 특이사항
					.input-group
						.input-group-prepend
							span.input-group-text
						textarea.form-control(type="text", name="description", data-ground) #{ground?ground.description:''}