.row#ground_images
	.col-md-4
		.fileinput.text-center(data-provides="fileinput", class=ground?ground.ground_images.ground_images_1?'fileinput-exists':'fileinput-new':'fileinput-new')
			.fileinput-new.thumbnail.img-raised
				img(src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...")
			.fileinput-preview.fileinput-exists.thumbnail.img-raised(name="ground_images_1")
				if(ground.ground_images.ground_images_1)
					img(src=ground.ground_images.ground_images_1)
			div
				span.btn.btn-raised.btn-round.btn-default.btn-file
					span.fileinput-new Select image
					span.fileinput-exists Change
					input(type="file")
				a.btn.btn-danger.btn-round.fileinput-exists(href="#pablo" data-dismiss="fileinput")
					i.fa.fa-times
					|  Remove
	.col-md-4
		.fileinput.text-center(data-provides="fileinput", class=ground?ground.ground_images.ground_images_2?'fileinput-exists':'fileinput-new':'fileinput-new')
			.fileinput-new.thumbnail.img-raised
				img(src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...")
			.fileinput-preview.fileinput-exists.thumbnail.img-raised(name="ground_images_2")
				if(ground.ground_images.ground_images_2)
					img(src=ground.ground_images.ground_images_2)
			div
				span.btn.btn-raised.btn-round.btn-default.btn-file
					span.fileinput-new Select image
					span.fileinput-exists Change
					input(type="file")
				a.btn.btn-danger.btn-round.fileinput-exists(href="#pablo" data-dismiss="fileinput")
					i.fa.fa-times
					|  Remove
	.col-md-4
		.fileinput.text-center(data-provides="fileinput", class=ground?ground.ground_images.ground_images_3?'fileinput-exists':'fileinput-new':'fileinput-new')
			.fileinput-new.thumbnail.img-raised
				img(src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...")
			.fileinput-preview.fileinput-exists.thumbnail.img-raised(name="ground_images_3")
				if(ground.ground_images.ground_images_3)
					img(src=ground.ground_images.ground_images_3)
			div
				span.btn.btn-raised.btn-round.btn-default.btn-file
					span.fileinput-new Select image
					span.fileinput-exists Change
					input(type="file")
				a.btn.btn-danger.btn-round.fileinput-exists(href="#pablo" data-dismiss="fileinput")
					i.fa.fa-times
					|  Remove
hr
.row
	.col.pt-3
		if(ground.pathname !== "")
			- var theway = ground.pathname.split(',')
			each path in theway
				p.m-0
					a(href='/upload/' + path, target='_blank', name="uploaded") #{path}
					button.btn.btn-danger.btn-neutral.text-danger.m-0.p-2(type='button', data-role='delete')
						i.nc-icon.nc-simple-remove
		label 경기장 가는 길
		input.form-control(type='file', name='theway', multiple)
		input(type='hidden', name='theway_name')
script.
	console.log('theway : ', !{JSON.stringify(theway)})