extends admin_layout
block content
  .content
    .row
      .col-12
        .card
          .card-header
          .card-body
            .table-responsive
              table#datatable.table.table-striped.table-bordered.text-center(cellspacing='0', width='100%')
                colgroup
                  col(width='50', about='No')
                  col(width='150', about='소속 필터')
                  col(width='200', about='아이디(이메일)')
                  col(width='100', about='이름')
                  col(width='200', about='연락처')
                  col(width='150', about='총 이용횟수 필터')
                  col(width='100', about='직책 필터')
                  col(width='150', about='누적 캐시 필터')
                  col(width='150', about='보유 캐시 필터')
                  col(width='150', about='팀워크 점수')
                  col(width='150', about='MVP 점수')
                  col(width='200', about='가입일자')
                  col(width='200', about='회원정보 관리')
                thead
                  tr
                    th No
                    th 
                      select.form-control(name="depart")
                        option(value='') 전체
                        option(value='소속') 소속 
                        option(value='무소속') 무소속
                        option(value='승인대기') 승인대기
                    th 아이디
                    th 이름
                    th 연락처
                    th
                      select.form-control(name='useNumber')
                        option(value='all') 전체
                        option(value='1') 리그이용
                        option(value='2') 일반매치이용
                    th
                      select.form-control(name='role')
                        option(value='') 전체
                        option(value='주장') 주장
                        option(value='공동주장') 공동주장
                        option(value='팀원') 팀원
                        option(value='해당없음') 해당없음
                    th
                      select.form-control(name='accumulateCash')
                        option(value="") 누적 캐시
                        option(value='all') 전체
                        option(value='1') 팀캐시
                        option(value='2') 개인캐시
                    th
                      select.form-control(name='possesionCash')
                        option(value='') 보유 캐시
                        option(value='all') 전체
                        option(value='1') 팀캐시
                        option(value='2') 개인캐시
                    th 팀워크 점수
                    th MVP 횟수
                    th 가입일자
                    th 회원정보 관리
                tbody
                  - var club_member, role, penalty, penalty_list, mvp_list;
                  each user, idx in list
                    - role = "",  penalty = 0, penalty_list = [], mvp_list = [];
                    //  회원 역할(주장, 공동주장, 회원)
                    if(user.club_info)
                      - club_member = user.club_info.club_member
                      each member in club_member
                        if(member._id.toString() === user._id.toString())
                          - role = member.user_role
                    //  매치 정보에서 벌점 리스트, 
                    if(user.match_data.length > 0)
                      each match in user.match_data
                        //  mvp list 추출
                        if(match.mvp.toString() === user._id.toString())
                          - mvp_list.push(match.mvp.toString())
                        each member in match.apply_member
                          if(member._id.toString() === user._id.toString())
                            - penalty_list = member.penalty
                    //  매너점수 계산
                    if(penalty_list.length > 0)
                      each manner in user.manner_info
                        each m in manner
                          if(penalty_list.toString().indexOf(m._id) > -1)
                            - penalty = penalty + m.point
                    tr
                      td #{idx + 1}
                      td  
                        if(user.club_info) 
                          | 소속
                        else if(user.waiting_info)
                          | 승인대기
                        else
                          | 무소속
                      td #{user.user_id}
                      td #{user.user_name}
                      td #{user.user_phone} - #{user.phone1} - #{user.phone2}
                      td
                      td #{role === "leader"?"주장":role === "co-leader"?"공동주장":role==="member"?"팀원":"해당없음"}
                      td #{new Intl.NumberFormat().format(user.point || 0)}
                      td #{new Intl.NumberFormat().format(user.point || 0)}
                      td #{100 - penalty} 
                      td #{mvp_list.length}
                      - var date = new Date(user.created_at)
                      td #{date.toLocaleString('ko')}
                      //- td
                      //-   .btn-group
                      //-     input.form-control(type='text', style='width:150px;')
                      //-     button.btn.btn-sm.btn-success 저장
                      //- td #{user.created_at.toLocaleString('ko')}
                      td
                        button.btn.btn-danger.btn-link.text-danger.btn-neutral(type='button', onclick='fnDeleteUser("' + user._id.toString() + '")') 삭제
block append_js
  script(src='/public_js/admin_user.js')
  script.
    console.log('list : ', !{JSON.stringify(list)})
    console.log('list : ', !{JSON.stringify(club_member)})