extends admin_layout
block content
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 경기결과 관리
          .card-body
            .table
              table.table.text-center
                colgroup
                  col(width='50px', about='#')
                  col(width='150px', about='경기일')
                  col(width='150px', about='타임')
                  col(width='300px', about='경기장')
                  col(width='100px', about='실력')
                  col(width='100px', about='성별')
                  col(width='100px', about='인원수')
                  col(width='200px', about='매니저 배정')
                thead
                  tr
                    th #
                    th 경기일
                    th 타임
                    th 경기장
                    th 실력
                    th 성별
                    th 인원수
                    th 매니저 배정
                tbody
                  - var idx = 0;
                  each match in match_list
                    tr
                      td #{++idx}
                      td #{match.match_date}
                      td #{match.match_time}
                      td #{match.ground_info.groundName}
                      td #{match.grade === 1 ? '실력':'일반'}
                      td #{match.sex === 1 ? '남성매치':match.sex === -1 ? '여성매치':'혼성매치'}
                      td #{match.apply_member ? match.apply_member.length : 0} / #{match.personnel.max}
                      td
                        select#select-manager.selectpicker.form-control.p-0(data-style="btn btn-info btn-round", data-live-search='true', name='manager_id' data-size="7", data-id=match._id)
                          option(value='', disabled, selected) select manager
                          each manager in manager_list
                            option(value=manager._id) #{manager.manager_name}(#{manager.manager_id})
          .card-footer
block append_js
  script(src='/public_js/admin_match.js')