extends admin_layout
block content
  .content
    .row
      .col-12
        .card
          .card-header
            .d-flex.justify-content-between
              h4.card-title 경기일정 등록
              //- a.btn.btn-primary(href='/admin/match/list') 목록으로
          .card-body
            .card-content
              .row
                .col-md-4
                  h6.py-3.m-0 경기장 선택
                  select.form-control#selectGround
                    option(value='', disabled, selescted) 경기장을 선택해 주세요.
                    option(disabled) - - - - - - - - - - - - - - - - - - - - -
                    each item in ground
                      option(value=item._id, selected=item._id==ground_id) !{item.groundName}
              .row
                .col-md-8
                  h6.py-3.m-0 경기일 선택
                    // 달력선택 부분
                    - var size = 14;
                    - var day = ['일', '월', '화', '수', '목', '금', '토'];
                    - var today = new Date();
                  .d-flex.justify-content-between#selectDateBtn
                    - var d = 0;
                    while d < size
                      .pr-2
                        - var _date = new Date(); 
                        - _date.setDate(today.getDate() + d++);
                        //- - var btnDate = _date.getFullYear() + '-' + (_date.getMonth() + 1) + '-' + _date.getDate();
                        - var btnDate = _date.toISOString().slice(0, 10);
                        button.btn.rounded.btn-date.font-italic.m-0(type='button', 
                        class=_date.getDay()===0?'text-danger':_date.getDay()===6?'text-primary':'',
                        class=btnDate===selectedDate?'btn-warning':'',
                        data-selected=selectedDate,
                        data-date=btnDate)
                          .h6.m-0 #{_date.getDate()}
                          .small #{day[_date.getDay()]}
              .row
                .col-md-12
                  h6.py-3.m-0
                  ul.list-group.list-group-flush#match-register
                    li.list-group-item.list-group-item-primary
                      .row
                        .col(data-title='#') #
                        .col(data-title='match_time') 시간
                        .col(data-title='match_type') 타입
                        .col(data-title='match_grade') 실력
                        .col(data-title='sex') 성별
                        .col(data-title='personnel') 인원수
                        .col(data-title='match_price') 금액
                        .col(data-title='buttons')
                    each item, idx in match_list
                      li.list-group-item
                        .row(data-id=item._id)
                          .col(data-title='#') #{idx + 1}
                          .col(data-title='match_time', name='match_time') #{item.match_time}
                          .col(data-title='match_type' name='match_type', data-value=item.match_type) #{item.match_type} 파전 #{item.ladder === 1 ? " 승점제 경기":""}
                          .col(data-title='match_grade' name='match_grade', data-value=item.match_grade)
                            case item.match_grade
                              when "1"
                                | 상
                              when "2"
                                | 중
                              when "3"
                                | 하
                          .col(data-title='sex' name='sex', data-value=item.sex)
                            case item.sex
                              when 1
                                | 남성
                              when -1
                                | 여성
                              when 0
                                | 혼성
                          .col(data-title='personnel', name='personnel', data-min=item.personnel.min, data-max=item.personnel.max) #{item.personnel.min} ~ #{item.personnel.max}
                          .col(data-title='match_price' name='match_price') #{item.match_price}
                          .col(data-title='buttons')
                            button.btn.btn-sm.m-0.btn-success.btn-link(title='수정', onclick="fnUpdate('" + item._id + "')")
                              i.fa.fa-edit
                            button.btn.btn-sm.m-0.btn-danger.btn-link(title='삭제', onclick="fnDelete('" + item._id + "')")
                              i.fa.fa-times
                          input(type='hidden', name='ladder', value=item.ladder)
                    #match_list
                    li.list-group-item
                      .row
                        .col(data-title='#') #
                        .col(data-title='match_time')
                          .form-group
                            input.form-control.py-1#matchTime(type='text', name='match_time')
                        .col(data-title='match_type')
                          .form-check-radio.form-check-inline
                            label.form-check-label
                              input.form-check-input(type="radio", name='match_type', value='2')
                              span.form-check-sign 2파전
                          .form-check-radio.form-check-inline
                            label.form-check-label
                              input.form-check-input(type="radio", name="match_type", value='3')
                              span.form-check-sign 3파전
                          .form-check.form-check-inline
                            label.form-check-label
                              input.form-check-input(type="checkbox", name="ladder", data-toggle='false')
                              span.form-check-sign 승점제 경기
                        .col(data-title='match_grade')
                          .grade-group(data-view='false', name='score')
                            input.form-control(type='text', name='grade-score', placeholder='승점을 입력해주세요')
                          .grade-group(data-view='true', name='grade')
                            .form-check-radio.form-check-inline
                              label.form-check-label
                                input.form-check-input(type="radio", name="match_grade", value='1')
                                span.form-check-sign 상
                            .form-check-radio.form-check-inline
                              label.form-check-label
                                input.form-check-input(type="radio", name="match_grade", value='2')
                                span.form-check-sign 중
                            .form-check-radio.form-check-inline
                              label.form-check-label
                                input.form-check-input(type="radio", name="match_grade", value='3')
                                span.form-check-sign 하
                        .col(data-title='sex')
                          .form-check-radio.form-check-inline
                            label.form-check-label
                              input.form-check-input(type="radio", name="sex", value='1')
                              span.form-check-sign 남성
                          .form-check-radio.form-check-inline
                            label.form-check-label
                              input.form-check-input(type="radio", name="sex", value='-1')
                              span.form-check-sign 여성
                          .form-check-radio.form-check-inline
                            label.form-check-label
                              input.form-check-input(type="radio", name="sex", value='0')
                              span.form-check-sign 혼성
                        .col(data-title='personnel')
                          .form-group
                            input.form-control.py-1(type='number', name='personnel-min')
                            span ~ 
                            input.form-control.py-1(type='number', name='personnel-max')
                        .col(data-title='match_price')
                          .form-group
                            input.form-control.py-1(type='number', name='match_price')
                        .col(data-title='buttons').text-right
                          button.btn.btn-primary.btn-sm.m-0#registerMatch(type='button') 등록
          .card-footer
block append_js
  script(src='/public_js/match.js')
  script.
    console.log('match list  : ', !{JSON.stringify(match_list)});