extends admin_layout
block public_css
  link(href='/public_css/admin_config.css', rel='stylesheet')
block content
  .content#config-page
    .row
      //- 지역설정
      .col-md-6
        .card#region-card
          .card-header 
            h4.card-title 지역설정
          .card-body
            .table-full-width
              table.table
                colgroup
                  col(width='50')
                  col
                  col(width='100')
                thead
                  tr
                    th #
                    th 지역
                    th
                tbody
                  each r, i in region
                    tr(data-id=r._id)
                      td #{i + 1}
                      td.text-left(data-status='read') #{r.name}
                      td.text-right
                        button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", data-role='edit')
                          i.nc-icon.nc-ruler-pencil
                        button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", data-role='remove')
                          i.nc-icon.nc-simple-remove
                  tr
                    td
                    td
                      input.form-control(type="text", placeholder='지역명을 입력해주세요')
                    td.text-center
                      button.btn.btn-primary.btn-sm.btn-icon.btn-icon-mini(type='button', onclick='fnAddRowRegion()', tabIndex=-1)
                        i.nc-icon.nc-simple-add
          .card-footer.text-right
            button.btn.btn-sm.btn-success(type='button', onclick='fnSaveRegion()') 저장
      .col-md-6
        .card
          .card-header
            h4.card-title 매너점수 관리
          .card-body
            .table-full-width
              table.table#manner-table
                colgrouop
                  col(width='auto', about='벌점 항목')
                  col(width='100px', about='벌점')
                  col(width='80px', about='버튼')
                thead
                  th 벌점 항목
                  th 벌점
                  th
                tbody
                  each item in manner
                    tr
                      td
                        input.form-control(type='text', name='manner-title' value=item.title)
                      td
                        input.form-control(type='text', name='manner-point', value=item.point)
                      td
                        button.btn.btn-danger.btn-sm.btn-neutral.btn-icon.btn-icon.mini(type='button', name='removeManner', data-id=item._id)
                          i.nc-icon.nc-simple-remove
                  tr
                    td
                      input.form-control(type='text', name='manner-title')
                    td
                      input.form-control(type='text', name='manner-point')
                    td
                      button.btn.btn-primary.btn-sm.btn-icon.btn-icon-mini(type='button', name='btnAddRowManner')
                        i.nc-icon.nc-simple-add
          .card-footer.text-right
            button.btn.btn-sm.btn-success(type='button', onclick='fnSaveManner()') 저장
      //- 공지사항
      .col-md-12.d-none
        .card
          .card-header
            h4.card-title 공지사항(메인 배너)
          .card-body
            .row
              .col-md-6
                b PC 버전 배너
                each item in notice
                  img.w-100(src=item.url_pc)
 
                h6.mt-3.mb-0 새 파일 등록하기
                .file-upload-wrap
                  input.form-control(type='file', data-role='upload-notice', name='url_pc')
                  button.btn.btn-link 업로드
              
              .col-md-6
                b 모바일 버전 배너
                each item in notice
                  img.w-100(src=item.url_mobile)


            h6 # 업로드 된 배너
            each item in notice
              .col-md-4
                img.w-100(src=item)
            
            .table-full-width
              table.table.text-center
                colgroup
                  col(width='30')
                  col(width='50')
                  col(width='100')
                thead
                  tr
                    th #
                    th 등록사진
                    th
                tbody
                  each item, i in notice
                    tr(data-id=item._id)
                      td #{i + 1}
                      td
                        img.my-2(src=item.notice_img, width='100%')
                      td.text-right
                        button.btn.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", data-role='activeNotice', data-id=item._id, data-toggle=item.activity?"true":"false")
                          i.nc-icon.nc-button-power
                        button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type="button", data-role='removeNotice', data-id=item._id)
                          i.nc-icon.nc-simple-remove
          .card-footer
            button.btn.btn-sm.btn-success(type='button', data-toggle='modal', data-target='#modalNoticeWrite') 새 글 등록
      
    //- 공지사항 등록 모달창
    include modals/noticeWrite
block append_js
  script(src='/public_js/admin_config.js')