extends layout
block append_css
  link(rel='stylesheet' href='/public_css/star_rating.css')
  link(rel='stylesheet' href='/public_css/club.css')
block content
  #club_page.container.bg-white
    .row
      .col.mx-auto
        label.title 팀 등록
        .row
          .col-md-3
            .fileinput.fileinput-new.text-center(data-provides="fileinput")
              .fileinput-new.thumbnail.img-raised.m-3
                img(src='/images/pz_logo.png', alt='퍼즐 풋볼 로고')
              .fileinput-preview.fileinput-exists.thumbnail.img-raised.m-3(data-trigger="fileinput" style="width: 200px; height: 150px;", name='club_mark')
              div
                span.btn.text-primary.btn-neutral.btn-file
                  span.fileinput-new 엠블럼 등록
                  span.fileinput-exists Change
                  input(type="file" name="...")
                a.btn.text-danger.btn-neutral.fileinput-exists.ml-3(href="#" data-dismiss="fileinput") Remove
          .col-md-9
            .row
              .col-md-6
                .form-group
                  label 팀 분류
                  .btn-group.d-block.btn-type-wrap
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='student', data-role='team-type') 청소년(학생부)
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='youth', data-role='team-type') 성인(청년)
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='adult', data-role='team-type') 성인(장년)
              .col-md-6
                .form-group
                  label 팀 구분
                  .btn-group.d-block.btn-type-wrap
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='male', data-role='team-gender') 남성
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='femail', data-role='team-gender') 여성
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='mix', data-role='team-gender') 혼성
              .col-md-6
                .form-group
                  label 주 활동지역
                  select.form-control(name='mainly_region')
                    option(value='', disabled, selected) 주 활동지역을 선택해 주세요
                    each item in region
                      option(value=item._id) #{item.name}
                  //- label 주 이용구장
                  //- select.form-control(name='mainly_ground')
                  //-   option(value="", disabled, selected) 이용구장을 선택해 주세요.
                  //-   each item in ground
                  //-     option(value=item._id) #{item.groundName}
              .col-md-3
                .form-group
                  label 주 이용요일
                  select.form-control(name='mainly_day')
                    option(value="", disabled, selected) 요일 선택
                    option(value='sun') 일요일
                    option(value='mon') 월요일
                    option(value='tue') 화요일
                    option(value='wed') 수요일
                    option(value='thu') 목요일
                    option(value='fro') 금요일
                    option(value='sat') 토요일
              .col-md-3
                .form-group
                  label 주 이용시간
                  select.form-control(name='mainly_time')
                    option(value='', disabled, selected) 이용 시간 선택
                    option(value='1') 10:00 ~ 12:00
                    option(value='2') 12:00 ~ 14:00
                    option(value='3') 14:00 ~ 16:00
                    option(value='4') 16:00 ~ 18:00
                    option(value='5') 18:00 ~ 20:00
                    option(value='6') 20:00 ~ 22:00
                    option(value='7') 22:00 ~ 24:00
              .col-md-6
                .form-group
                  label 팀 이름
                  .input-group
                    input.form-control(name='club_name')
                    .input-group-append
                      button.btn.btn-danger.btn-sm(type='button', onclick='fnChkDuplicate()') 중복확인
                  input(type='hidden', name='club_name_check')
              .col-md-6
                .form-group
                  label 팀 주장 (최초 등록자가 주장으로 임명됩니다)
                  input.form-control(name='club_leader_name', value=user_info.user.user_nickname, readonly)
                  input(type='hidden', name='club_leader', value=user_info.user._id, readonly)
              .col-md-6
                .form-group
                  label 이메일
                  input.form-control(type='text', name='team_email')
              .col-md-6
                .form-group
                  label 휴대폰 번호
                  .d-flex.justify-content-between
                    input.form-control(type='tel', name='phone_1', maxlength='3')
                    .my-auto &nbsp;-&nbsp;
                    input.form-control(type='tel', name='phone_2', maxlength='4')
                    .my-auto &nbsp;-&nbsp;
                    input.form-control(type='tel', name='phone_3', maxlength='4')
              //- .col-md-4.my-auto
              //-   p * 최초 등록자가 주장으로 임명됩니다. 
              .col-md-12
                .form-group
                  label 간략한 팀소개
                  textarea.form-control(name='club_desc', rows='10')
              .col-md-6
                .form-group
                  label 유니폼 색상
                  .row
                    .col-6
                      input.form-control(type='text', name='uniform_top', placeholder='상의')
                    .col-6
                      input.form-control(type='text', name='uniform_bottom', placeholder='하의')
              .col-md-6
                .form-group
                  label 팀 등급
                  .btn-group.d-block.btn-type-wrap
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='1', data-role='rating') 초급
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='2', data-role='rating') 중급
                    button.btn.btn-outline-info(type='button', data-toggle='false', data-value='3', data-role='rating') 고급

                  //- .d-block
                  //-   fieldset.rating
                  //-     input#star5(type="radio" name="rating" value="5")
                  //-     label.full(for="star5" title="Awesome - 5 stars")
                  //-     input#star4half(type="radio" name="rating" value="4.5")
                  //-     label.half(for="star4half" title="Pretty good - 4.5 stars")
                  //-     input#star4(type="radio" name="rating" value="4")
                  //-     label.full(for="star4" title="Pretty good - 4 stars")
                  //-     input#star3half(type="radio" name="rating" value="3.5")
                  //-     label.half(for="star3half" title="Meh - 3.5 stars")
                  //-     input#star3(type="radio" name="rating" value="3")
                  //-     label.full(for="star3" title="Meh - 3 stars")
                  //-     input#star2half(type="radio" name="rating" value="2.5")
                  //-     label.half(for="star2half" title="Kinda bad - 2.5 stars")
                  //-     input#star2(type="radio" name="rating" value="2")
                  //-     label.full(for="star2" title="Kinda bad - 2 stars")
                  //-     input#star1half(type="radio" name="rating" value="1.5")
                  //-     label.half(for="star1half" title="Meh - 1.5 stars")
                  //-     input#star1(type="radio" name="rating" value="1")
                  //-     label.full(for="star1" title="Sucks big time - 1 star")
                  //-     input#starhalf(type="radio" name="rating" value="0.5")
                  //-     label.half(for="starhalf" title="Sucks big time - 0.5 stars")
              .col-md-6
                .form-group
                  label 팀 비밀번호
                    small (영문, 숫자 8 ~ 16 자리)
                  input.form-control(type='password', name='team_password')
              .col-md-6
                .form-group
                  label 팀 비밀번호 확인
                  input.form-control(type='password', name='team_password_check')
        .d-flex.justify-content-center
          button.btn.btn-primary(type='button', onclick='fnRegisterClub()') 팀 등록하기
block append_js
  script(src='/public_js/club.js')