extends layout
block content
  - var leaderGroup = [];
  if(club.club_member)
    each member in club.club_member
      if(member.user_role !== 'member')
        - leaderGroup.push(member._id.toString())
  #club_page.container
    .row
      .col
        .card
          .card-header
            label.title #{club.club_name}
          .card-body
            .row
              .col-md-2
                .form-group
                  if(club.club_mark !== '')
                    img(src=club.club_mark)
                  else
                    img(src='/images/pz_logo.png')
                .form-group
                  label 팀 코드
                  input.form-control(type='text', value=club.team_code, readonly)
              .col-md-10
                .d-block.border.py-1.px-3.mt-3.rounded
                  h6.my-3 클럽 소개
                  .bordered(style='white-space:pre') #{club.club_desc}
                #club-member
                  ul.list-group.list-group-flush
                    li.list-group-item
                      .row
                        .col-1 #
                        .col-2  
                        .col-3 회원
                        .col-3 직책
                    - var idx = 0, user_role;
                    each item in club.user_info
                      - user_role = "";
                      each member in club.club_member
                        if(member._id.toString() === item._id.toString())
                          - user_role = member.user_role;
                      a(href='#')
                        li.list-group-item.list-group-item-action
                          .row(data-id=item._id)
                            .col-1 #{++idx}
                            .col-2
                              if(item.profile_image)
                                img(src=item.profile_image, width='40px')
                              else
                                img(src='/assets/img/default-avatar.png', alt='default avatar', width='40px')
                            .col-3 #{item.user_name}
                            .col-3 #{user_role==="leader"?"주장":user_role==="co-leader"?"공동주장":"팀원"}
                            .col-3.text-right
                              if(club.club_leader.toString() === user_info.user._id.toString())
                                if(club.club_leader.toString() !== item._id.toString())
                                  if(user_role==="member")
                                    button.btn.btn-success.btn-sm(onclick='fnConfigMember("' + item._id + '", "' + club._id + '", "co-leader")') 공동주장 설정
                                  else if(user_role==="co-leader")
                                    button.btn.btn-success.btn-sm(onclick='fnConfigMember("' + item._id + '", "' + club._id + '", "member")') 일반회원으로
                                  button.btn.btn-danger.btn-sm(onclick='fnExile("' + item._id + '", "' + club._id + '")') 추방
                if(club.waiting_info.length > 0)
                  ul.list-group.list-group-flush
                    li.list-group-item
                      .row
                        .col-1 #
                        .col-2 
                        .col-3 승인 대기 회원  
                    - var idx = 0;
                    each item in club.waiting_info
                      li.list-group-item.list-group-item-action
                        .row(data-id=item._id)
                          .col-1 #{++idx}
                          .col-2
                            if(item.profile_image)
                              img(src=item.profile_image, width='40px')
                            else
                              img(src='/assets/img/default-avatar.png', alt='default avatar', width='40px')
                          .col-3 #{item.user_name}
                          .col-6.text-right
                            if(leaderGroup.indexOf(user_info.user._id.toString()) > -1)
                              button.btn.btn-danger.btn-sm(onclick='fnApprove("' + item._id + '", "' + club._id + '")') 승인
                            //- if(club.club_leader.toString() === user_info.user._id.toString())
                            //-   if(club.club_leader.toString() !== item._id.toString())
                            //-     button.btn.btn-danger.btn-sm(onclick='fnApprove("' + item._id + '", "' + club._id + '")') 승인
          .card-footer
            - var idx = club.club_member.indexOf(user_info.user._id);
            if(club.club_leader.toString() !== user_info.user._id.toString())
              if(club.club_member.toString().indexOf(user_info.user._id) === -1)
                button.btn.btn-primary(onclick='fnJoinClub("' + club._id + '")') 가입
              else
                button.btn.btn-danger(onclick='fnSecession("' + club._id + '")') 탈퇴하기
              
block append_js
  script(src='/public_js/club.js')
  script.
    console.log('club : ', !{JSON.stringify(club)});
    console.log('waiting club : ', !{JSON.stringify(waiting_club)})