extends layout
block content
  .container
    .detail-slider
      -var ground_images = ground_info.ground_images
      if(ground_images.ground_images_1)
        .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_1 + '")')
      if(ground_images.ground_images_2)
        .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_2 + '")')
      if(ground_images.ground_images_3)
        .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_3 + '")')
    
    nav
      .nav.nav-tabs#nav-tab
        a#nav-match-list-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-match-list', role='tab', aria-controls='nav-match-list', aria-selected='true') 풋살매치
        a#nav-facility-tab.nav-item.nav-link(data-toggle='tab', href='#nav-facility', role='tab', aria-controls='nav-facility', aria-selected='false') 시설 및 정보
    #nav-tabContent.tab-content
      //- 매칭 리스트
      #nav-match-list.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-match-list-tab")
        - var n = 0
        each list in match_list       
          ul.list-group.list-group-flush
            h6.mt-3 #{list._id}
            each match in list.list
              li.list-group-item
                .row
                  .col-md-2 #{match.match_time}
                  .col-md-8 
                    h6 #{ground_info.groundName}
                    span #{match.sex === 1 ? "남성":match.sex === -1?"여성":"혼성"}매치
                  .col-md-2
                    - var status ='available';
                    - var remains = match.personnel.max - (match.apply_member.length || 0);
                    if(remains >= 4)
                      - status = 'available'
                    else if(remains >= 1 && remains < 4)
                      - status = 'hurry'
                    else
                      - status = 'full'
                    .pull-right.w-100(data-cnt=remains, data-id=match._id)
                        if(status === 'full')
                          button.btn.btn-neutral.btn-status.text-white(data-status='full')
                            small.m-0 마  감
                        else
                          button.btn.btn-neutral.btn-status.text-white.p-0(data-status=status)
                            h5.m-0.py-1 #{status === 'hurry'?"곧 마감!":"신청가능!"}
                            .text-danger.bg-white.mx-auto.font-weight-bold.mb-1(style='border-radius:1rem; width:80%; font-size:.75rem;') #{match.apply_member.length} / #{match.personnel.max}
                      
      //- 시설 및 구장정보
      #nav-facility.tab-pane.fade(role="tabpanel" aria-labelledby="nav-facility-tab") 
        h6 기본정보
        ul.list-group.list-group-flush
          li.list-group-item
            .row
              .col-4 주소
              .col-8 #{ground_info.groundAddress.road}
        hr
        h6 공통 시설
                
block append_js
  script(src='/public_js/ground_match.js')
  script.
    console.log('match_list : ', !{JSON.stringify(match_list)})
    console.log('ground info : ', !{JSON.stringify(ground_info)})