extends layout
block append_css
  link(rel="stylesheet", href="/public_css/main_modal.css")
  link(rel="stylesheet", href="/public_css/main_screen.css")
block content
  // slick-slider
  - var today = new Date();
  .full-cover-pzfutball
  .container-fluid
    .container
      include include/nav
  .container-fluid.px-0
    .main-slider
      .d-flex.justify-content-center
        .d-none.d-sm-block.main-slide-item(style='background-image:url(/images/normal_main.png)')
        .mobile_slide.w-100.d-block.d-sm-none(style='background:url(/images/normal_main.png)')
      .d-flex.justify-content-center
        .d-none.d-sm-block.main-slide-item(style='background-image:url(/images/league_main1.png)')
        .mobile_slide.w-100.d-block.d-sm-none(style='background:url(/images/league_main1.png)')
      .d-flex.justify-content-center
        .d-none.d-sm-block.main-slide-item(style='background:url(/images/league_main2.png)')
        .mobile_slide.w-100.d-block.d-sm-none(style='background:url(/images/league_main2.png)')
      each notice in notice_list
        .d-none.d-sm-block.main-slide-item(style='background-image:url(' + notice.notice_img + ')')
          //- img(src=notice.notice_img, alt='pc')
  //  날짜 선택 slick-slider
  - var size = 28;
  - var day = ['일', '월', '화', '수', '목', '금', '토'];
  .container.text-right
    button.btn.btn-neutral.text-black.m-0.p-0
      .favorite-wrap
        i.fa.fa-star
        h6.title 즐겨찾는 구장 보기
  .navigation
    nav.d-flex.justify-content-center.w-100(style='z-index:5')
      .container-fluid.py-1.bg-white
        .container.calendar-slider-wrap
          .calendar-slider.w-100.mx-auto(style='max-width:850px;')
            - var d = 0;
            while d < size
              //.col
              .text-center
                - var date = new Date();
                - date.setDate(today.getDate() + d++)
                - var year = date.getFullYear();
                - var month = date.getMonth() < 10 ? '0' + (date.getMonth() + 1): date.getMonth() + 1;
                - var days = date.getDate();
                button.btn.btn-neutral.btn-date.rounded-0(type='button', onclick='fnSelectDate(this)',
                class=d===1?'active':'',
                class=date.getDay()===0?'text-danger':date.getDay()===6?'text-primary':'text-black',
                class=d===1?'btn-primary':'', data-date=year + '-' + month + '-' + days)
                  .h6.mb-3 #{days}
                  .small #{day[date.getDay()]}
        //  경기 필터링 부분
        .container.filter-wrap
          span 총 #{list.length || 0}매치
          a.collapsed(href='#matchFilter', data-toggle='collapse', aria-expanded='false') 구장 상세설정
            i.nc-icon.nc-minimal-down.pl-2
            i.nc-icon.nc-minimal-up.pl-2
        #matchFilter.container.collapse(data-role='collapse')
          .row.p-3
            .col-md-3
              span 성별
              .row-wrap
                button(data-toggle='false') 전체
                button(data-toggle='false') 남성
                button(data-toggle='false') 여성
                button(data-toggle='false') 혼성
            .col-md-3
              span 레벨
              .row-wrap
                button 전체
                button 초급
                button 중급
                button 고급
            .col-md-3
              span 매치 형태
              .row-wrap
                button 전체
                button 2파전
                button 3파전
            .col-md-3
              span 매치 인원
              .row-wrap
                button 전체
                button 5 vs 5
                button 6 vs 6
          .row
            .col
        .mobile-menu-wrap.mx-auto
          .row
            .col
              .d-flex.justify-content-start
                .match_type_img.my-auto(data-match2='false', data-match3='false')
                  img.w-100(src='/images/match_type_none.png', alt='경기타입')
                .form-group.m-0
                  button.btn.btn-primary.btn-neutral.text-primary.dropdown-toggle(type='button', data-toggle='modal', data-target='#filterModal') 구장설정
            .col.text-right
              p.match-count 총 #{list.length || 0}매치
              

  //  경기 리스트
  include include/match-list
  
  //  경기 필터링 모달창
  include modals/filter

  //  필터링 할 때 loading 이미지 띄우기
  #loadingPage.d-none
    .d-flex
      img(src='/nm/slick-slider/slick/ajax-loader.gif')
block append_js
  script(src='/public_js/main.js', type='text/javascript')
  script.
    let body = !{JSON.stringify(body)}
    console.log('body : ', !{JSON.stringify(body)})
    console.log('filter_query : ', !{JSON.stringify(filter_query)})
    console.log('favorite_ground : ', !{JSON.stringify(favorite_ground)})
    console.log('region_group : ', !{JSON.stringify(region_group)})