extends manager_layout
block content
	.content
		.row
			.col-12
				.card
					.card-header
						h4.card-title 경기결과 관리
					.card-body
						.table
							table.table.text-center
								colgroup
									col(width='50px', about='#')
									col(width='150px', about='경기일')
									col(width='150px', about='타임')
									col(width='300px', about='경기장')
									col(width='100px', about='실력')
									col(width='100px', about='성별')
									col(width='100px', about='인원수')
									col(width='200px', about='매니저 배정')
								thead
									tr
										th #
										th 경기일
										th 타임
										th 경기장
										th 실력
										th 성별
										th 인원수
								tbody
									- var idx = 0;
									each match in match_list
										tr
											td #{++idx}
											td #{match.match_date}
											td #{match.match_time}
											td #{match.ground_info.groundName}
											td #{match.grade === 1 ? '실력':'일반'}
											td #{match.sex === 1 ? '남성매치':match.sex === -1 ? '여성매치':'혼성매치'}
											td #{match.apply_member ? match.apply_member.length : 0} / #{match.personnel.max}
											td
												a.btn.btn-neutral.btn-primary.text-primary(href='/manager/match/' + match._id) 상세확인	
												//- button.btn.btn-link(onclick='fnShowResultModal("' + match._id + '")', class=match.isPlay===true?"btn-info":"btn-success") 
												//- 	if(match.isPlay) 
												//- 		| 결과 확인
												//- 	else 
												//- 		| 결과 입력
					.card-footer
	#resultModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='resultModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				form.form(onsubmit='return fnRegisterResult();')
					.modal-header.bg-primary
						button.close.p-1(type="button" data-dismiss="modal" aria-hidden="true")
							span.nc-icon.nc-simple-remove.text-white
					.modal-body
						.row
							.col-12
								ul.list-group.list-group-flush
									li.list-group-item
										.row#mvp_user
											.col-4.my-auto
												label.m-0(for='#mvp_user') MVP 선수
											.col-8
												select.form-control
						.row
							.col-12
								ul.list-group.list-group-flush.text-center
									li.list-group-item
										.row
											.col-3.col-md-1 #
											.col-9.col-md-3 이름
											.col-md-8 
												//- .row
												//- 	.col-4 1차전
												//- 	.col-4 2차전
												//- 	.col-4 3차전
									#user_list
					.modal-footer
						button.btn.btn-sm.btn-link.btn-success(type='button', onclick='fnSaveResult()') 저장
						button.btn.btn-sm.btn-link.btn-danger(type='button', data-dismiss='modal') 닫기
block append_js
	script(src='/public_js/manager_match.js')