extends manager_layout
block content
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 경기결과 관리
          .card-body
            .table-responsive
              table.table.text-center
                colgroup
                  col(width='50px', about='#')
                  col(width='150px', about='경기일')
                  col(width='150px', about='타임')
                  col(width='300px', about='경기장')
                  col(width='100px', about='실력')
                  col(width='100px', about='성별')
                  col(width='100px', about='인원수')
                  col(width='100px', about='결과')
                thead
                  tr
                    th #
                    th 경기일
                    th 타임
                    th 경기장
                    th 실력
                    th 성별
                    th 인원수
                    th 결과
                tbody
                  - var idx = 0;
                  each match in match_list
                    tr
                      td #{++idx}
                      td #{match.match_date}
                      td #{match.match_time}
                      td #{match.ground_info.groundName}
                      td #{match.grade === 1 ? '실력':'일반'}
                      td #{match.sex === 1 ? '남성매치':match.sex === -1 ? '여성매치':'혼성매치'}
                      td #{match.apply_member ? match.apply_member.length : 0} / #{match.personnel.max}
                      td
                        button.btn.btn-link(onclick='fnShowResultModal("' + match._id + '")', class=match.isPlay===true?"btn-info":"btn-success") 
                          if(match.isPlay) 
                            | 결과 확인
                          else 
                            | 결과 입력
          .card-footer
  #resultModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='resultModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form.form(onsubmit='return fnRegisterResult();')
          .modal-header.bg-primary
            button.close.p-1(type="button" data-dismiss="modal" aria-hidden="true")
              span.nc-icon.nc-simple-remove.text-white
          .modal-body
            .row#mvp_user
              .col-1.my-auto
                label.m-0(for='#mvp_user') MVP 선수
              .col-3
                select.form-control
            .row
              .col-md-3
                .form-group
                  label 경기 MVP 선정
                  select.form-control.p-2
                    each player in match_info.apply_member
                      option(value=player._id) #{player.member}
            ul.list-group.list-group-flush
              li.list-group-item.list-group-item-primary
                .row
                  .col-md-2 선수명
                  .col-md-3 비매너 감점
              each player in match_info.apply_member
                li.list-group-item.px-0
                  .row(data-player=player._id)
                    .col-md-2.my-auto.py-3 #{player.member}
                    .col-md-3(style='max-height:10rem; overflow:auto;')
                      ul.list-group.list-group-flush
                        each item in manner_list
                          li.list-group-item.py-1.px-0
                            .row
                              .col-10
                                .form-check
                                  label.form-check-label
                                    input.form-check-input(type='checkbox', value=item._id, data-point=item.point, checked=player.penalty.toString().indexOf(item._id) > -1)
                                    | #{item.title}
                                    span.form-check-sign
                              .col-2.text-center #{item.point}
                    .col-md-3(data-penalty)
          .card-footer
            button.btn.btn-primary(onclick='fnSaveMatch("' + match_info._id.toString() + '")') 저장
            a.btn.btn-info.ml-3(href='/manager/match') 목록으로 돌아가기  
block append_js
  script(src='/public_js/manager_match.js')