extends admin_layout
block content
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 경기결과 관리
          .card-body
            .row
              .col-md-3
                .form-group
                  label 경기 MVP 선정
                  select.form-control.p-2
                    each player in match_info.apply_member
                      option(value=player._id) #{player.member}
            ul.list-group.list-group-flush
              li.list-group-item.list-group-item-primary
                .row
                  .col-md-2 선수명
                  .col-md-10 비매너 감점
              each player in match_info.apply_member
                li.list-group-item
                  .row
                    .col-md-2 #{player.member}
                    .col-md-10
                      .form-group
                        select.form-control.selectpicker(data-style='btn btn-link', multiple, title='비매너행동')
                          option(value="" disabled) 비매너 행동 선택
                          each val in manner_list
                            option(value=val.point) #{val.title}(-#{val.point})
block append_js
  script(src='/public_js/manager_match.js')
  script.
    console.log('match info : ', !{JSON.stringify(match_info)})
