extends layout
block append_css
  link(rel='stylesheet', href='/public_css/match.css')
block content
  - var ground_id = match_info.ground_info._id;
  .full-cover-pzfutball
  .container-fluid.bg-light.border-top-primary
    #detail_page.container
      .position-relative.bg-white
        .detail-slider.m-0
          -var ground_images = match_info.ground_info.ground_images
          if(ground_images.ground_images_1)
            .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_1 + '")')
          if(ground_images.ground_images_2)
            .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_2 + '")')
          if(ground_images.ground_images_3)
            .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_3 + '")')
        #theway-slider(data-visible='false')
          if(match_info.ground_info.pathname)
            - var theway = match_info.ground_info.pathname.split(',')
            each item in theway
              .theway_images(style='background-image:url("/upload/' + item + '")')
      .px-3.bg-white
        .section#scrollPosition
          - day_list = ['일', '월', '화', '수', '목', '금', '토'];
          - match_date = new Date(match_info.match_date);
          h4.text-primary.m-0 #{match_info.ground_info.groundName}
          span #{match_info.ground_info.groundAddress.jibun}
          a.btn.btn-neutral.text-primary.p-0.mx-3.my-0.d-inline-block(href='https://map.kakao.com/link/to/' + match_info.ground_info.groundName + ',' + match_info.ground_info.mapInfo.Lat + ',' + match_info.ground_info.mapInfo.Lng, target='_blank') 길찾기
          button.btn.btn-neutral.text-primary.p-0.my-0(type='button', name='toggle_theway') 공유하기
          .row
            .col
              p.text-black.mt-1 #{match_date.getFullYear()}년 #{match_date.getMonth() + 1}월 #{match_date.getDate()}일 #{day_list[match_date.getDay()]}요일 #{match_info.match_time}
            .col.my-auto.pb-1
              .match-price-wrap
                h6 참가비
                h5 #{new Intl.NumberFormat('ko').format(match_info.match_price)}원
          .row
            .col-md-6.my-auto
              div
                span.notoB.text-primary.pl-1 #{match_info.ground_info.groundName}
                span.notnM 의
              a.btn.btn-round.text-white.btn-primary.m-0.px-1(href='/ground/' + match_info.ground_info._id, target='_blank')
                .notoR 더 많은 경기 보러가기
                img(src='/assets/svg/play_icon.svg', width='100%')
            .col-md-6.text-right
              if(user_info)
                - var isFavorite = favorite_ground.favorite_ground.toString().indexOf(ground_id) > -1
                button(name='btnFavoriteGround', data-toggle=isFavorite?'true':'false', data-id=ground_id.toString()) 
                  i.fa.fa-star
                  i.fa.fa-star-o
              button.btn.btn-primary.btn-join(onclick='fnApplyGame()') 참가하기
        .section
          p.text-black 구장 편의시설
          .my-3
            each item in [1,2,3,4,5,6,7]
              .facility_item
        .section
          p.text-black 일반매치
          .my-5
            each item in [1,2,3,4,5,6,7]
              .match_item
        .section
          p.text-black 구장위치
          #kakao_map(data-visible='true')
      include include/match_comm
        .address_wrap.pb-3.d-none
          button.btn.btn-neutral.text-primary.copy(data-copy=match_info.ground_info.groundAddress.jibun) 주소 복사하기
          button.btn.btn-neutral.text-primary(name="toggle_map" data-visible="false") 지도 보기
          a.btn.btn-neutral.text-primary(href='https://map.kakao.com/link/to/' + match_info.ground_info.groundName + ',' + match_info.ground_info.mapInfo.Lat + ',' + match_info.ground_info.mapInfo.Lng, target='_blank') 가는 길 보기
          button.btn.btn-neutral.text-primary(name='toggle_theway', data-visible='false') 가는 길 보기
  #bottomBtnWrap.container-fluid.bg-white.d-fixed.py-3
    .container
      .row
        .col-md-6
          .col-wrap
            h4.text-primary.m-0 #{match_info.ground_info.groundName}
            span #{match_info.ground_info.groundAddress.jibun}
            p.text-black.mt-1 #{match_date.getFullYear()}년 #{match_date.getMonth() + 1}월 #{match_date.getDate()}일 #{day_list[match_date.getDay()]}요일 #{match_info.match_time}
        .col-md-6
          .row
            .col.my-auto.pb-1
              .match-price-wrap
                h6 참가비
                h5 #{new Intl.NumberFormat('ko').format(match_info.match_price)}원
          .row
            .col-md-6.my-auto
            .col-md-6.text-right
              if(user_info)
                - var isFavorite = favorite_ground.favorite_ground.toString().indexOf(ground_id) > -1
                button(name='btnFavoriteGround', data-toggle=isFavorite?'true':'false', data-id=ground_id.toString()) 
                  i.fa.fa-star
                  i.fa.fa-star-o
              button.btn.btn-primary.btn-join(onclick='fnApplyGame()') 참가하기
  include modals/matchConfirm
  include modals/chargePoint
block append_js
  script.
    let match_info = !{JSON.stringify(match_info)}
    console.log('user info : ', !{JSON.stringify(user_info)})
    console.log('ground info : ', !{JSON.stringify(match_info.ground_info)})
    console.log('favorite : ', !{JSON.stringify(favorite_ground)})
  script(src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd47642bb3bbc286516220872f5eb9f6")
  script(src='/public_js/charge.js', type='text/javascript')
  script(src='/public_js/detail.js', type='text/javascript')