extends layout
block content
  style.
    #mypage-wrap li{
      font-size:0.8rem;
    }
    #mypage-wrap li [class*="col-"] {margin:auto 0;} 
  #mypage-wrap.container.bg-white
    .row
      .col-md-5
        .card
          .card-header
            label.title ID
            p #{user.user_id}
          .card-body
            .form-group
              label.title 보유 포인트
              .point-wrap.d-flex.justify-content-start
                p #{new Intl.NumberFormat('ko').format(user.point) || 0}
                button.btn.btn-primary(data-toggle='modal', data-target='#modalChargePoint') 충전하기
            .form-group
              label.title 이름
              input.form-control(type='text', value=user.user_name, name='user_name')
            .form-group
              label.title 닉네임
              input.form-control(type='text', value=user.user_nickname, name='user_nickname')
            .from-group
              label.title E-mail
              input.form-control(type='text', value=user.user_email, name='user_email')
          .card-footer
            button.btn.btn-primary(type='button', onclick='fnSaveUserInfo()') 저장
        .card
          .card-header
            .d-flex.justify-content-between
              label.title 내 클럽
              a.text-primary(href='/clubs/list') 전체보기
          .card-body
            if(myClub)
              ul.list-group.list-group-flush.text-center
                li.list-group-item.list-group-item-primary
                  .row
                    .col-2 마크
                    .col-7 클럽명
                    .col-3 회원수
                li.list-group-item.list-group-item-action
                  if(myClub.status === 1)
                    a(href='/clubs/' + myClub._id)
                      .row
                        .col-2
                          if(myClub.club_mark === "")
                            img(src='/images/pz_logo.png', width='100%')
                          else
                            img(src=myClub.club_mark, width='100%')
                        .col-7 !{myClub.club_name}
                        .col-3 !{myClub.club_member.length} 명
                  else if(myClub.status === 0)
                    .row
                      .col-12 승인 대기 중 
            else if(waiting_club)
               ul.list-group.list-group-flush.text-center
                li.list-group-item.list-group-item-primary
                  .row
                    .col-2 마크
                    .col-7 클럽명
                    .col-3 회원수
                li.list-group-item.list-group-item-action
                  .row
                    .col-12 승인 대기 중 
            else
              .row
                .col-8
                  span 아직 가입한 클럽이 없습니다.
                .col-4
                  a.btn.btn-sm.btn-link.text-primary(href='/clubs/list') 가입
                  button.btn.btn-sm.btn-link.text-success(onclick='fnCreateClub()') 생성
      .col-md-7
        .card
          .card-header
            .d-flex.justify-content-between
              label.title 내 경기 일정
              //- a.text-info(href='#users/match/list') 더 보기
          .card-body
            ul.list-group.list-group-flush
              li.list-group-item.list-group-item-primary.text-center
                .row
                  .col 날짜
                  .col 시간
                  .col-5 경기장
                  .col-2 신청수
                  .col-2 상태
              if(match_list.length > 0)
                each match in match_list
                  a(href='/users/match/' + match._id)
                    li.list-group-item.list-group-item-action.text-center
                      .row
                        .col #{match.match_date.slice(5)}
                        .col #{match.match_time}
                        .col-5 #{match.ground_info.groundName}
                        .col-2 #{match.apply_member.length} / #{match.personnel.max}
                        .col-2 #{match.isPlay?"종료":"진행중"}
              else
                li.list-group-item 일정이 없습니다.
        .card
          .card-header
            label.title 내 구장 설정
          .card-body
            each r, idx in region_group
              .ground-wrap(data-id=r._id)
                .d-flex.justify-content-between
                  h5 #{r.name}
                  button.btn.btn-success.btn-sm(type='button', data-role='all', data-id=r._id, data-toggle='true') 전체선택
                .d-flex.justify-content-start
                  - var my_ground = user.favorite_ground.join(',')
                  each ground in r.list
                    button.btn.btn-primary.btn-round.btn-sm.mr-1.px-3(type='button', data-id=ground._id, data-toggle=my_ground.toString().indexOf(ground._id.toString()) > -1 ? "true":"false", data-role='ground') #{ground.groundName}
              if(idx + 1 < region_group.length)
                hr
          .card-footer.p-0
            button.btn.btn-success.w-100.m-0(type='button', data-role='saveGround') 적용
  include modals/chargePoint
block append_js
  script(src='/public_js/mypage.js')
  script.
    console.log('ground : ', !{JSON.stringify(region_group)})
    console.log('user : ', !{JSON.stringify(user)})
    console.log('club : ', !{JSON.stringify(myClub)})
    console.log('match list : ', !{JSON.stringify(match_list)})
