extends layout
block content
  style.
    //- #apply-list-wrap li{line-height:38px;}
    #apply-list-wrap li [class*="col-"] {margin:auto 0;}
  #match_detail.container.bg-white
    .row
      .col
        .card
          .card-header
            label.title 매치 정보
          .card-body
            - var d = new Date(match_info.match_date)
            h5 !{d.getMonth() + 1}월 !{d.getDate()}일 !{match_info.match_time}
            h4 !{match_info.ground_info.groundName}
            .row
              .col-8.mx-auto
                .detail-slider
                  -var ground_images = match_info.ground_info.ground_images
                  if(ground_images.ground_images_1)
                    .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_1 + '")')
                  if(ground_images.ground_images_2)
                    .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_2 + '")')
                  if(ground_images.ground_images_3)
                    .detail_img_wrap(style='background-image:url("' + ground_images.ground_images_3 + '")')
            h6 정원 : !{match_info.personnel} / 신청 : !{match_info.apply_member.length}
            #apply-list-wrap.my-3.py-3
              label.title 신청자 리스트 (팀원의 이름을 입력해주세요)
              ul.list-group.list-group-flush.mt-3
                - var idx = 0
                each item in match_info.apply_member
                  li.list-group-item
                    .row
                      .col(style='max-width:50px;') #{++idx}
                      .col-6
                        if(user_info.user.user_id !== item.reader)
                          - var name_length = item.member.length;
                          - var n = 0
                          span #{item.member.slice(0,1)} 
                          while n < name_length - 2
                            | *
                            - n++
                          | #{item.member.slice(item.member.length - 1)}
                        else
                          .d-flex.justify-content-start
                            input.form-control(type='text', value=item.member, data-origin=item.member, style='max-width:200px;')
                            button.btn.btn-link.d-none(type='button', tabindex='-1')
                              i.fa.fa-check(style='color:red')
            p 경기정보
            h6 주소 : !{match_info.ground_info.groundAddress.road}
            table.table.table-bordered
              tr
                td !{match_info.match_type}파전
                td !{match_info.match_grade === 1?'실력':'일반'}
                td !{new Intl.NumberFormat('ko').format(match_info.match_price)}원
                td !{match_info.sex === 1?'남성매치':match_info.sex===-1?'여성매치':'혼성매치'}

block append_js
  script.
    let match_info = !{JSON.stringify(match_info)}
  script(src='/public_js/match_detail.js')
  script.
    $(".detail-slider").slick({
      dots: true,
      arrows: false,
      fade: true
    });
    console.log('match info : ', !{JSON.stringify(match_info)});
    console.log('usr info : ', !{JSON.stringify(user_info)});
